.box-mainTt{
    margin-top: 22px;
  .box-tt { 
   float: left;
   padding: 0 8px;
   width: 100%;
   height: auto;
   box-sizing: border-box;
   margin-left: 50px;
   background-color: #E0FFFF;
   
   .box-bodyTt{ 
  
     margin-top: 16px;
     line-height: 18px;
    
     
     .header-newTt {
         font-size: 16px;
         font-weight: 600;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         padding: 10px;
        
        
         }
         .testimonialTable{
           border-top: 50px;
  
           .btnSr{
             color: blue;
             border: none;
           }
           
         }
    
         
  
       }  }
  
     }