.studentSidebar {
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: #E0FFFF;
  
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    
   
  
    .top {
      height: 60px;
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
      padding-left: 10px;
      padding: 5px;
      cursor: pointer;
      
      li {
         display: flex;
          align-items: center;
          padding: 5px;
          list-style: none;
          cursor: pointer
      }
  
      .icon {
        
        font-size: 22px;
        color: #7451f8;
      }
  
      span{
        color: #7451f8;
        font-weight: 600;
        margin-left: 5px;
    }
  
      
    }
    .center{
      height: 80px;
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
      padding-left: 10px;
      padding: 5px;
      background-color: #fff;
      
      .logo {
          height: 70px;
          width: 70px;
          margin-right: 10px;
               
    }
    .info {
      display: flex;
      flex-direction: column;
       
  
       .school-name {
           margin-left: -13px;
           font-size: 15px;
           font-weight: 600;
       }
  
       .admin {
        margin-left: -13px;
        margin-top: 3px;
        font-size: 13px;
        color: #999;
       }
  
    }
     
    }
    
     .bottom {
      padding-left: 10px;
      display: flex;
      align-items: center;
      margin: 10px;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        .title {
          font-size: 10px;
          font-weight: bold;
          color: #999;
          margin-top: 15px;
          margin-bottom: 5px;
        }
  
        li {
          display: flex;
          align-items: center;
          padding: 15px;
          cursor: pointer;
  
          &:hover {
            background-color: #fff;
          }
  
          .icon {
            font-size: 18px;
            color: #7451f8;
          }
  
          span{
              font-size: 13px;
              font-weight: 600;
              color: #888;
              margin-left: 10px;
          }
        }
      }
      .colorOption{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #7451f8;
        cursor: pointer;
        margin: 5px;
  
        &:nth-child(1){
            background-color: whitesmoke;
        }
        &:nth-child(2){
            background-color: #333;
        }
        &:nth-child(3){
            background-color: darkblue;
        }
    }
    }
  
  }