.home {
  display: flex;
  margin-left: 160px;
  

  .homeContainer {
    flex: 6;
    height: auto;
  
    .widgets{
      margin-left: 15px;
      display: flex;
      padding: 20px;
      gap: 20px;

      @media screen and (max-width: 980px) {
        margin-left: 35px;
        display: flex;
        gap: 8px;
        padding: 55px;
      flex-direction: column;
    }
    }
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
    .dashInfoContainer {
      margin-top: 20px;
      margin-bottom: 50px;
      margin-left: 42px;
     max-width: 75rem;
     display: flex;
       flex-direction: column;

       @media screen and (max-width: 980px) {
        margin-left: 0px;
    }

    }

    .box-mainDa{
      margin-top: 45px;
      display: flex;
    
      @media screen and (max-width: 980px) {
        display: flex;
      flex-direction: column;
      margin-top: 90px;
    }
      
   .box-da { 
     float: left;
     padding: 0 8px;
     width: 25%;
     height: 380px;
     box-sizing: border-box;
     margin-left: 59px;
     background-color: #F3F6F9;
     
     @media screen and (max-width: 980px) {
        width: 100%;
        margin-left: 40px;
        margin-top: 35px;
        height: 620px;
    }
     .box-bodyDa{ 
     margin-top: 10px;
      
     .carousel-root {
      width: 100% !important;
      margin: auto !important;
      margin-top: 3% !important;

      
    }
    
    .carousel .slide {
      background: #E0FFFF !important;
      color: black;
      height: 100%;

    
    }
    
    .carousel .slide img {
      margin-top: -1px;
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
    }
    
    .myCarousel {
      background: #E0FFFF;
      margin-top: 0;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 8%;
      padding-bottom: 2%;
      padding-left: 5%;
      padding-right: 5%;
      
      height: 220px;

      @media screen and (max-width: 980px) {
        height: 480px;
    }
    }
    
    .carousel .control-dots {
      padding-left: 5px !important;
      outline: 0;
      bottom: -5% !important;

      @media screen and (max-width: 980px) {
        bottom: 10% !important;
    }
    }
    
    .myCarousel h3 {
      color: #222;
      font-weight: 100;
      letter-spacing: 0.2px;
      margin-bottom: 4px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 17px;
    }
    
    .myCarousel h4 {
      text-transform: uppercase;
      margin-top: 0;
      padding-top: 0;
      font-weight: 500;
      color: #787878;
      font-size: 14px;
    }
    
    .myCarousel p {
      font-weight: 100 !important;
      line-height: 29px !important;
      color: #222;
      font-size: 15px;
      font-family: sans-serif;
      max-height: 67px;
    }
    
    .myCarousel p:before {
      content: "“";
      color: #aaa;
      font-size: 26px;
      font-family: monospace;
      font-weight: 100;
    }
    
    .myCarousel p:after {
      content: "”";
      color: #aaa;
      font-size: 26px;
      font-family: monospace;
      font-weight: 100;
      line-height: 0;
    }
    
    .carousel .control-dots .dot {
      box-shadow: none !important;
      background: #454545 !important;
      outline: 0;
    }
    
    .carousel.carousel-slider .control-arrow {
      background: #000 !important;
      height: 50px !important;
      position: absolute;
      top: 35% !important;
    }
    
    .App {
      text-align: center;
    }
    
    @media only screen and (max-width: 934px) {
      .carousel-root {
        outline: 0;
        width: 93% !important;
        margin: auto !important;
      }
    
      .carousel.carousel-slider .control-arrow {
        display: none !important;
      }
      .myCarousel {
        background: #fafafa;
        margin-top: -9%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 8%;
        padding-bottom: 12.5%;
        padding-left: 5%;
        padding-right: 5%;
        border: 1px solid #ddd;
        height: 269px;
      }
    
      .carousel .slide img {
        width: 24% !important;
        border-radius: 50%;
      }
    }
      
       
      
           

         }  }
   
   
   .box-da2 { 
     float: left;
     padding: 0 8px;
     width: 25%;
     height: 380px;
     box-sizing: border-box;
     margin-left: 80px;
     background-color: #F3F6F9;

     @media screen and (max-width: 980px) {
      width: 100%;
      margin-top: 45px;
      margin-left: 40px;
      height: 620px;
  }

     .box-bodyDa2 {
     margin-top: 16px;
     line-height: 18px;

     .text {
      font-size: 20px;
      font-weight: 600;
     }
       
     .react-calendar {
      width: 100%;
      height: 100%;
      max-width: 100%;
      background-color: #F3F6F9;
      color: #222;
      border: none;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.125em;
   
      @media screen and (max-width: 980px) {
        line-height: 10.125em;
    }

    }
    
    .react-calendar__navigation button {
      color: #d4a713;
      min-width: 44px;
      background: none;
      font-size: 16px;
      margin-top: 8px;
    }
    
    .react-calendar__navigation button:enabled:hover,
    .react-calendar__navigation button:enabled:focus {
      background-color: #f8f8fa;
    }
    .react-calendar__navigation button[disabled] {
      background-color: #f0f0f0;
    }
    abbr[title] {
      text-decoration: none;
    }
    
    /* .react-calendar__month-view__days__day--weekend {
      color: #d10000;
     } */
    
    .react-calendar__tile:enabled:hover,
    .react-calendar__tile:enabled:focus {
      background: #f8f8fa;
      color: #d4a713;
      border-radius: 6px;
    }
    
    .react-calendar__tile--now {
      background: #d4a71333;
      border-radius: 6px;
      font-weight: bold;
      color: #d4a713;
    }
    
    .react-calendar__tile--now:enabled:hover,
    .react-calendar__tile--now:enabled:focus {
      background: #d4a71333;
      border-radius: 6px;
      font-weight: bold;
      color: #d4a713;
    }
    
    .react-calendar__tile--hasActive:enabled:hover,
    .react-calendar__tile--hasActive:enabled:focus {
      background: #f8f8fa;
    }
    
    .react-calendar__tile--active {
      background: #d4a713;
      border-radius: 6px;
      font-weight: bold;
      color: white;
    }
    
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
      background: #d4a713;
      color: white;
    }
    
    .react-calendar--selectRange .react-calendar__tile--hover {
      background-color: #f8f8fa;
    }
    
    .react-calendar__tile--range {
      background: #f8f8fa;
      color: #d4a713;
      border-radius: 0;
    }
    
    .react-calendar__tile--rangeStart {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      background: #d4a713;
      color: white;
    }
    
    .react-calendar__tile--rangeEnd {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      background: #d4a713;
      color: white;
    } 
      
      
       
        }
      }
      .box-da3 { 
        float: left;
        padding: 0 8px;
        width: 27%;
        height: 380px;
        box-sizing: border-box;
        margin-left: 80px;
        background-color: #F3F6F9;

        @media screen and (max-width: 980px) {
          width: 100%;
          margin-left: 40px;
          margin-top: 45px;
          height: 620px;
      
    }
       
        .box-bodyDa3 {
        margin-top: 16px;
        line-height: 18px;
          
   iframe{


    @media screen and (max-width: 980px) {
     height: 600px;
     
  }
   }       
         
         
    
           }
         
        
   }

   

    }
   
  }
    
  }

