
.new {
    width: 100%;
    
  
    .newContainer {
       
     
      .box-mainSeIn{
           margin-top: 22px;
        .box-seIn { 
          float: left;
          padding: 0 8px;
          width: 43%;
          height: auto;
          box-sizing: border-box;
          margin-left: 50px;
          background-color: #E0FFFF;
          
          .box-bodySeIn{ 
        
            margin-top: 16px;
            line-height: 18px;
           
            
            .header-newSeIn {
                font-size: 18px;
                font-weight: 600;
               
                }
                .Table1{
                  border-top: 50px;
                  
                }
           
                

              }  }
        
        
        .box-seIn2 { 
          float: left;
          padding: 0 8px;
          width: 43%;
          height: 450px;
          box-sizing: border-box;
          margin-left: 20px;
          background-color: #E0FFFF;
  
          .box-bodySe2 {
          margin-top: 16px;
          line-height: 18px;

          .header-newSeIn {
            font-size: 18px;
            font-weight: 600;
            }
            .Table2{
              border-top: 50px;
              
            }
            
        
          }
        }
    }
}
}
  