.box-mainRe{
    margin-top: 22px;
  .box-re { 
   float: left;
   padding: 0 8px;
   width: 100%;
   height: auto;
   box-sizing: border-box;
   margin-left: 50px;
   background-color: #E0FFFF;
   
   .box-bodyRe{ 
  
     margin-top: 16px;
     line-height: 18px;
    
     
     .header-newRe {
         font-size: 18px;
         font-weight: 600;
        
         }
         .resultTable{
           border-top: 50px;
  
           .btnSr{
             color: blue;
             border: none;
           }
           
         }
    
         
  
       }  }
  
     }